body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 50px;
}
.orange-color{
    margin-top: -2%;
}
.orange-color span{
    color: #FFA500 ;
}
.top-bannar{
    display: flex;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.half-width{
    width: 40%;
    padding-left: 6%;

}
.half-width img{
    width: 100%;
    padding-left: 5%;
    padding-top: 10%;
}
.hire_me{
    margin-top: 60px;
}
.half-width p{
    color: gray;
}
.hire_me a{
    text-decoration: none;

    /* background-color: #FB6756; */
    background-image: linear-gradient(to bottom left, #FB6756,#FF9672);
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    
    padding: 10px 40px ;
    border-radius: 5px;
}
.hire_me a:hover{
    background-image: linear-gradient(to top right, #FB6756,#FF9672);
}

/* second page */
.dream_big{
    display: flex;
    background-image: url(images/dream-bg.png) ;
    background-repeat: no-repeat;
    background-position: right;

    margin-top: 70px;
}

.dream_big .half-width img{
    margin-left: -25px;
}
.dream_big .half-width h1{
    font-size: 45px;
}
.dream_big .half-width h3{
    margin-top: -10px;
}
.dream_big .half-width p{
    
    text-align: justify;
    text-justify: inter-word;
}
.dream_big .dream_text{
    padding-top: 4%;
    padding-left: 8%;
    width: 37%;
}


/* Third Page */

.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 190px;

    margin-top: 80px;
}


.flexible{
    display: flex;
}
.experience h2{
    font-size: 40px;
    margin-left: 5%;
}

.flexible h2{
    font-size: 35px;
    margin-left: 1%;
}
.color_h3{
    
    color: #FFA500 ;
}
.stack{
    width: 38.5%;
    height: 400px;
    margin-bottom: 100px;
    margin-left: 5%;
    background-color: white;
    padding: 0 2%;
    box-shadow: 10px 10px 40px grey;
}
.full_stack{
    border-left: 7px solid;
    border-image: linear-gradient(#FF9F79,#FF6347);
    border-image-slice: 1;

}
.baby{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}


footer p{
    text-align: center;
    color: gray;
}